<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Utils" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.PivotGrid" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.VerticalGrid" version="21.2.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.6" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.14.8" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="17.0.0-previews-3-31605-261" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="6.0.1" targetFramework="net48" />
  <package id="NLog.Windows.Forms" version="6.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.6" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.6" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.6" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>