<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			internalLogLevel="Off"
			internalLogFile="C:\Logs\Nlog-InternalError.log">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="fileFormat" value="${date:format=/yyyy-MM-dd/}\"/>
  <variable name="baseDir" value="C:\BSSR_LOGS\BSSR\"/>

  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message}"/>
  <variable name="verbose" value="${longdate} | ${machine} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
  <variable name="custom" value="${longdate} | ${machine} | ${processid} | ${processname} | ${level} | ${logger} | ${message}}" />

  <targets>
    <target name="fileBrief"
            xsi:type="File"
            fileName="${baseDir}${fileFormat}BSSRLog.log"
	          layout="${brief}" />
    <target name="fileCustom"
            xsi:type="File"
            fileName="${baseDir}${fileFormat}BSSRErrors.log"
	          layout="${custom}" />
    <target name="errorsFileCustom"
            xsi:type="File"
            fileName="${baseDir}${fileFormat}BSSRCritical.log"
	          layout="${custom}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fileBrief" />
    <logger name="*" minlevel="Error" writeTo="fileCustom" />
    <logger name="*" minlevel="Fatal" writeTo="errorsFileCustom" />
  </rules>
</nlog>