<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.46.2" targetFramework="net48" />
  <package id="Azure.Identity" version="1.14.0" targetFramework="net48" />
  <package id="CrystalReports.AxShockwaveFlashObjects" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Design" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportSource" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ShockwaveFlashObjects" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Web" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Windows.Forms" version="13.0.4003" targetFramework="net48" />
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="DapperExtensions" version="1.7.0" targetFramework="net48" />
  <package id="DevExpress.Data" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Utils" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="21.2.6" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="21.2.6" targetFramework="net48" />
  <package id="log4net" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.72.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.72.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.12.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Assessment" version="1.1.17" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="172.20.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="172.76.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="17.0.0-previews-3-31605-261" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.5.0" targetFramework="net48" />
  <package id="NLog.Windows.Forms" version="5.2.4" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="23.8.0" targetFramework="net48" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="Slapper.AutoMapper" version="2.0.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.4.2" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.5" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.5" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.12.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Memory.Data" version="9.0.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.2-mauipre.1.22102.15" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="9.0.5" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="9.0.5" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.5" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>